In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [12]:
data_1 = pd.read_csv('lin_reg_1.txt')

xx = data_1['population']
yy = data_1['profit']

data_1.insert(0, 'ones', 1)
data_1.head()

   ones  population   profit
0     1      6.1101  17.5920
1     1      5.5277   9.1302
2     1      8.5186  13.6620
3     1      7.0032  11.8540
4     1      5.8598   6.8233

In [45]:
cols = data_1.shape[1] # column number

X = np.matrix(data_1.iloc[:, 0:cols-1].values)   # 1's + population
Y = np.matrix(data_1.iloc[:,cols-1:cols].values) # profit
theta = np.matrix(np.zeros(2))

# parameters for gradient descent
m = len(Y)
alpha = 0.01
iters = 1200

print('dimentions of X: {}, dimentions of Y: {}'.format(X.shape,Y.shape))

dimentions of X: (97, 2), dimentions of Y: (97, 1)